@-ms-viewport{
  width: device-width;
}
/* #d8d8d8 */
body {
    background-color:#d8d8d8;
	font-size:100%;
	margin:0;
}

.img1 {
    display: inline-block;
    height: 100%;
}
.content {
    background-color:white;
	font-family:'Times',gfont; 
	text-rendering:optimizeLegibility;
	margin-left:auto;
	margin-right:auto;
	padding:1% 2% 2% 2%;
	border-style:solid; 
	border-width: 0px; 
	line-height: 1.4em;
	border-top:none;
	max-width: 1000px;
}

.header {
	background-color:#9500ae;
	margin-left: auto;
	margin-right: auto;
	height:40px;
	padding:0.5% 2% 0.5% 2%;
	border-left:solid 0px;
	border-right:solid 0px;
	border-top:solid 0px;
/* 	max-width: 1000px; */
}

@media screen and (min-width: 600px) {
	#right-float {
		float:right; 
		margin:1em;
	}
	#left-float {
		float:left; 
		margin-right:10%;
	}
	margin-left:auto;
	margin-right:auto;
}

a { 
	text-decoration:none; 
} 

a:hover { 
	text-decoration:underline; 
}

ul { 
	margin-top:0.5em; 
	margin-bottom: 0.8em; 
}

ul.none { 
	list-style-type:none; 
}

li { 
	margin-left:-1em; 
	margin-bottom:0.3em; 
}

li.pub { 
	margin-top:1em; 
	margin-bottom:0.5em; 
}

.site-navigation ul {
	font-family:'Georgia',gfont; 
	text-rendering:optimizeLegibility;
	font-size:100%;
	font-weight:regular;
	height:35px;
	background-color:#9500ae;
	line-height:35px; 
	padding:0% 1% 0% 1%;
	display:inline; 
}

.site-navigation li {
	display:inline;
	list-style:none;
	position:relative; 
	cursor:pointer;
	display:inline-block;
	margin:0;
	padding:0% 4.5% 0% 4.5%;
	zoom:1;
}

.site-navigation li, .site-navigation a, .site-navigation a:visited {
	color:white; 
	text-decoration:none;
}

.site-navigation a:hover, .site-navigation a:focus {
	color:white; 
	text-decoration:underline;
}

#center {
	margin-top:1em;
	text-align:center;
}

#left {
        overflow:hidden;
        margin-top:1.5em;
        margin-bottom:1.5em;
}

#right {
        overflow:hidden;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
